<a
  href="/"
  class:list={['focus-ring inline-flex p-3 transition-shadow [&>svg]:size-auto', Astro.props.class]}
>
  <svg xmlns="http://www.w3.org/2000/svg" width="220" height="36" fill="none" viewBox="0 0 220 36"
    ><g clip-path="url(#a)"
      ><path
        fill="currentColor"
        d="m17.999 5.535 17.6-5.186L30.465 18 35.6 35.601l-17.601-5.135L.348 35.6 5.533 18 .348.348z"
      ></path></g
    ><path
      fill="currentColor"
      d="M48.92 31V3h11.12q2.56 0 4.56 1.04 2.04 1 3.16 2.88 1.16 1.84 1.16 4.44v.52q0 2.6-1.2 4.48a7.67 7.67 0 0 1-3.16 2.88q-2 1-4.52 1h-6.8V31zm4.32-14.68h6.36q2.28 0 3.64-1.2t1.36-3.28v-.4q0-2.12-1.36-3.32t-3.64-1.2h-6.36zm28.595 15.24q-2.961 0-5.28-1.2-2.28-1.24-3.6-3.52t-1.32-5.4v-.6q0-3.12 1.32-5.36a9.14 9.14 0 0 1 3.6-3.52q2.319-1.24 5.28-1.24 2.96 0 5.28 1.24t3.64 3.52q1.32 2.24 1.32 5.36v.6q0 3.12-1.32 5.4a9.07 9.07 0 0 1-3.64 3.52q-2.32 1.2-5.28 1.2m0-3.68q2.72 0 4.4-1.72 1.72-1.76 1.72-4.84v-.36q0-3.08-1.68-4.8-1.68-1.76-4.44-1.76-2.68 0-4.4 1.76-1.68 1.72-1.68 4.8v.36q0 3.08 1.68 4.84 1.72 1.72 4.4 1.72m23.449 3.68q-3.76 0-6.24-1.68t-3.04-5.08l3.84-.92q.32 1.64 1.08 2.6a4.13 4.13 0 0 0 1.88 1.36q1.16.4 2.48.4 1.96 0 3-.76 1.08-.76 1.08-1.96t-1-1.76-2.96-.92l-1.36-.24q-2-.36-3.64-1.04t-2.6-1.88-.96-3.08q0-2.8 2.08-4.32 2.08-1.56 5.52-1.56 3.32 0 5.44 1.52 2.16 1.48 2.8 4.04l-3.84 1.08q-.36-1.8-1.52-2.52-1.16-.76-2.88-.76-1.68 0-2.64.64-.96.6-.96 1.72 0 1.2.92 1.76.96.56 2.56.84l1.4.24q2.12.36 3.88 1t2.76 1.84q1.04 1.2 1.04 3.2 0 2.96-2.2 4.6t-5.92 1.64M118.22 31V11.28h4.12V31zm2.08-22.4q-1.2 0-2.04-.76-.8-.8-.8-2.04t.8-2q.84-.8 2.04-.8 1.239 0 2.04.8.8.76.8 2t-.8 2.04q-.801.76-2.04.76M135.854 31q-1.8 0-2.88-1.08-1.04-1.08-1.04-2.88V14.76h-5.44v-3.48h5.44V4.76h4.12v6.52h5.88v3.48h-5.88v11.56q0 1.2 1.12 1.2h4.12V31zm10.92 0V11.28h4.12V31zm2.08-22.4q-1.2 0-2.04-.76-.8-.8-.8-2.04t.8-2q.84-.8 2.04-.8 1.24 0 2.04.8.8.76.8 2t-.8 2.04q-.8.76-2.04.76M161.569 31l-6.64-19.72h4.36l5.24 16.68h.64l5.24-16.68h4.36L168.129 31zm24.757.36q-2.24 0-4-1t-2.76-2.84-1-4.4V11.28h4.12v11.56q0 2.56 1.28 3.8 1.28 1.2 3.56 1.2 2.52 0 4.04-1.68 1.56-1.72 1.56-4.92v-9.96h4.12V31h-4.04v-2.96h-.64q-.56 1.2-2 2.28-1.44 1.04-4.24 1.04m25.091.2q-3.76 0-6.24-1.68t-3.04-5.08l3.84-.92q.32 1.64 1.08 2.6a4.13 4.13 0 0 0 1.88 1.36q1.16.4 2.48.4 1.959 0 3-.76 1.08-.76 1.08-1.96t-1-1.76-2.96-.92l-1.36-.24q-2-.36-3.64-1.04t-2.6-1.88-.96-3.08q0-2.8 2.08-4.32 2.079-1.56 5.52-1.56 3.32 0 5.44 1.52 2.16 1.48 2.8 4.04l-3.84 1.08q-.36-1.8-1.52-2.52-1.161-.76-2.88-.76-1.68 0-2.64.64-.96.6-.96 1.72 0 1.2.92 1.76.96.56 2.56.84l1.4.24q2.12.36 3.88 1t2.76 1.84q1.04 1.2 1.04 3.2 0 2.96-2.2 4.6t-5.92 1.64"
    ></path><defs><clipPath id="a"><path fill="#fff" d="M0 0h36v36H0z"></path></clipPath></defs
    ></svg
  >
</a>
